name: CI

on:
  push:
    branches: [master]
  pull_request: ~

jobs:
  unittests:
    name: "Unit Tests"
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        runs-on: ["ubuntu-22.04", "windows-2019", "macos-11"]
    runs-on: ${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install pyyaml==6.0
        pip install -e .[test]
    - name: Run tests
      run: |
        pytest -vv tests/

  coverage:
    name: "Coverage"
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov coveralls
        pip install pyyaml==6.0
        pip install -e .[test]
    - name: Run tests
      run: |
        pytest --cov=ssort -v tests/
    - name: Upload coverage report to coveralls
      run: |
        coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  black:
    name: "Black"
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
    - name: Run black
      run: |
        black --check --diff .

  isort:
    name: "ISort"
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install isort
    - name: Run isort
      run: |
        isort --check-only --diff .

  ssort:
    name: "SSort"
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    - name: Run ssort
      run: |
        ssort --check --diff src/ tests/

  pyflakes:
    name: "PyFlakes"
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyflakes
    - name: Run pyflakes
      run: |
        pyflakes src/ tests/

  pylint:
    name: "PyLint"
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[test]
        pip install pytest
        pip install pyyaml==6.0
        pip install pylint
    - name: Run pylint
      run: |
        pylint -E src/ tests/

  mypy:
    name: "Mypy"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy
          pip install pytest
          pip install pyyaml==6.0
          pip install types-PyYAML
          pip install types-setuptools
      - name: Run mypy
        run: |
          mypy .
