name: Release

on:
  release:
    types:
      - published

jobs:
  upload:
    name: "Upload to Python Package Index"
    runs-on: ubuntu-22.04
    if: success() && startsWith(github.ref, 'refs/tags')
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
